
body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    #background-image: url(image\ 47.png);
}

header {
    height: 100px;
    background-color: red;
    width: 100%;
}

.ContinerMostra {
    width: 80%;
    margin: 40px;
    border-radius: 20px;
    background-color: aqua;
    display: flex;
}
.OJogo {
    width: 60%;
    background-color: aquamarine;

    display: flex;
    justify-self: center;
    flex-flow: column nowrap;
    align-items: center;
}

.OJogo > img {
    width: 90%;
}
.Catalogo {
    align-self: flex-start;
}

.MostragemDeImagens {
    background-color: blue;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.Imagem {
    width: 10%;
    border-radius: 10px;
border: 0.5px solid black;
overflow: hidden;
}
.Imagem > img {
 width: 100%;
 
}

.AlgunsResumos {
    width: 40%;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(70, 68, 68);
    border-left: 0.5px solid black;
}

.carrinho {
    background-color: aquamarine;
    padding: 10px;
    width: 80%;
}
.embrulho {
    width: 200px;
    background-color: yellow;
    color: black;
}

.container{
    display:flex;
    gap:20px;
    padding:20px;
}

/* Menu */

.menu{
    width:280px;
    padding:20px;
    border:1px solid #ccc;

    position:sticky;
    top:20px;

    height:fit-content;
}

.menu input[type=text]{
    width:100%;
    padding:8px;
}

/* Produtos */

.produtos{

    flex:1;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;
    align-content: start;
}

/* Card */

.card{

    border:1px solid #ccc;

    padding:10px;
    height: 100px;

    
}

.card img{
    width:100%;
}

.card p{
    margin-top:8px;
}

/* Card que ocupa duas colunas */

.grande{

    grid-column:span 2;
}